WcfService1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AssignComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complaintID" type="xs:int" />
        <xs:element minOccurs="0" name="officerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignComplaintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPoliceOfficer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="officerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="badgeNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPoliceOfficerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPoliceOfficerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>